<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Delhi Weather</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

 <div class="container">
    <div class="weather-display">
        <div class="location">
            <h2><%= cityName %></h2>
            <h4><%= Country %></h4>
        </div>
        <div class="bottomSection">
            <div class="date_time">
                <div class="time" id="clock"><h5>12:00:00</h5></div>
                <div class="date" id="todaydate"><h5>Sunday, 20 March</h5></div>

            </div>
            <div class="temp">
                <h1><%= temperature %>&deg;C</h1>
            </div>
        </div>
    </div>

    <div class="weather-info">
        <div class="description">
            <div class="icon"><img src="<%= icon_pic %>"></div>
            <div class="desc"><h1><%= description %></h1></div>
            <hr>
        </div>
        <div class="other-info">
            <h2><%= cityName %></h2>
            <h4>Feels like - <%= feelsLike %>&deg;C</h4>
            <hr>
            <h4>Pressure - <%= Pressure %>hPa</h4>
            <hr>
            <h4>Wind Speed - <%= windSpeed %> km/h</h4>
            <hr>
            <h4>Humidity - <%= Humidity %>&percnt;</h4>
            <hr>
        </div>

    </div>

 </div>   

 <script src="js/index.js"></script>
    
</body>
</html>